* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #121317;
  }
  .wrapper {
	position: relative;
	width: 80vw;
	transform: translate(-50%, -50%);
	margin-top: 10%;
	left: 40%;
	display: flex;
	justify-content: space-around;
	gap: 10px;
}
  .contain {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #18f98f;
  }
  i {
    color: #18f98f;
    font-size: 2.5em;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #e0e0e0;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }


  /*scrool*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-pading, 4rem);
  }
  
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f7f2fa;
    background-color: #121127;
  }
  
  body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  /* body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  } */
   
  body::-webkit-scrollbar-thumb {
    background-color: #8884ff;
    /* outline: 3px solid #f7f2fa; */
  }
  
  
  
  /*End counter*/


  body{
    font-family: 'Poppins';
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
.row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    overflow-x: hidden;
    padding: 5rem 0;
}

.row .imgwrapper{
    overflow: hidden;
}
.row .imgwrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}
.row .imgwrapper:hover img{
    transform: scale(1.25);
}
.row .contentwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.row .contentwrapper span.textwrapper{
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.row .contentwrapper span.textwrapper span{
    display: inline-block;
    background: #383f47;
    width: 70px;
    height: 5px;
}
.row .contentwrapper h2{
    font-size: 40px;
    font-weight: 700;
    color: #18f98f;
    padding-bottom: 20px;
}
.row .contentwrapper p{
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 25px;
}

/*Icons*/
.social-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.social-icons a:hover {
    background-color: #3F71EA;
    transition: .5s;
    transform: scale(1.2);
}
#icon{
    font-size: 20px;
}
/*About us ends*/

section {
    height: 95dvh;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .inverse {
    background-color: #f7f2fa;
    color: #121127;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  p {
    max-width: 60ch;
    margin-inline: auto;
  }
main{
    width: 100%;
}
video {
	width: 70%;
	height: 27em;
	margin: 0 auto;
}