body{
  background-color: #041736;
}
.video-container {
	position: relative;
	width: 100%;
	max-width: 85em;
	height: 47em;
  float: left;
  margin-top: 40px;
}
  .video-container iframe {
    width: 100%;
    height: 100%;
  }
  .controls {
    bottom: 7em;
    left: 10px;
    z-index: 2;
    background-color: aliceblue;
    border-radius: 5em;
    width: 85em;
    height: 4.5em;
    margin-top: 11px;
  }
  .button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    color: #1E76FF;
    cursor: pointer;
    font-size: 38px;
    float: right;
    margin-top: 3px;
    border: 5px solid rgb(106, 124, 124);
    border-radius: 25px;
  }
  .view-counter {
    position: absolute;
    bottom: 7em;
    right: 15px;
    z-index: 2;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }
i{
    z-index: 3;
    color: White;
    font-family: sans-serif;
  }

.dwn {
    width: 10em;
    height: 40px;
    border-radius: 20px;
    float: right;
    margin-top: 1.3em;
    margin-right: 1.3em;
    cursor: pointer;
    font-weight: bolder;
    letter-spacing: 1px;
}
.dwn:hover{
  background-color: #1E76FF;
  transition: .4s;
  color: #fff;
}

#bt {
	color: rgb(255, 5, 5);
	padding-right: 5px;
}
#likeCounter{
  display: inline;
  float: right;
}
img{
  width: 3em;
  height: 3em;
  padding: 9px 9px;
}
div .img {
	background-color: #133c7e;
	width: 4em;
	height: 4em;
	border-radius: 2em;
	float: left;
	margin-top: 4.3px;
  margin-left: 1em;
}
.top-text {
	position: absolute;
	top: 20px;
	left: 13%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	color: red;
	margin-left: 1.5em;
}
.header-container {
  position: relative;
  text-align: center;
  color: white;
}
.fa-circle-check {
  margin-left: 10px; /* Adjust spacing between text and icon as needed */
  color: #1E76FF;
}
h1 a:hover{
  text-decoration: none;
  color: #1B1464;
  transition: .5s;
}
h1 a {
	text-decoration: none;
	color: blueviolet;
}
.follow-btn {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  margin-left: 10px; /* Adjust spacing between text and icon as needed */
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: 1.3px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}
.follow-btn:hover {
  background-color: #5b55ff;
  color: #fff;
  font-weight: bolder;
}
.follow-btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background-color: #5b55ff;
  transform: skewX(35deg);
  z-index: -10;
  transition: width 0.3s ease;
}
.follow-btn:hover::before{
  width: 150%;
}
.description-panel {
  background: linear-gradient(45deg, #f0f0f0, #fff);
  background-size: 10px 10px; /* Adjust the size of the stripes */
  background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, #e0e0e0 5px, #e0e0e0 10px);
  padding: 11px;
  font-size: 14px;
  color: #030303;
  border-top: 1px solid #e0e0e0;
  line-height: 1.5;
  overflow: auto;
  height: 18em;
  border-radius: 10px;
  scrollbar-width: 1px;
  animation: fadeInBackground 3s infinite alternate;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInBackground {
  0% {
    background: linear-gradient(45deg, #2f0f79, #974caa);
  }
  50% {
    background: linear-gradient(45deg, #974caa, #2f0f79);
  }
  100% {
    background: linear-gradient(45deg, #2f0f79, #974caa);
  }
}



.description-panel p {
  margin-bottom: 12px; /* Spacing between paragraphs */
  color: #fff;
  font-weight: bolder;
  letter-spacing: 1.3px;
}

/* You might want to add classes for title, views, and other metadata, similar to YouTube's layout */
.description-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.description-metadata {
  font-size: 12px;
  color: #606060; /* Grey text for metadata like publish date and views */
}

/* If you have buttons or links in your description, style them as well */
.description-panel a {
  color: #1E76FF; /* Blue color for links */
  text-decoration: none; /* No underline on links */
}

.description-panel a:hover {
  text-decoration: underline; /* Underline on hover for links */
}
/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 12px; /* Modify to your preferred scrollbar width */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Modify to your preferred track color */
    border-radius: 10px; /* Adjust the radius as needed */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Modify to your preferred thumb color */
    border-radius: 10px; /* Adjust the radius as needed */
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}








/*jfasdjwtfo9qwekf*/

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
}
.contain {
	width: 23%;
	margin: auto;
	overflow: auto;
	float: right;
	max-height: 70.5em;
	border: 5px solid blueviolet;
	border-radius: 10px;
  background-color: #333;
  margin-top: 40px;
}
.video {
  background-color: #525151; /* Darker video background */
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}
.video img {
  width: 93%;
  height: auto;
}
      /*foter animation*/
      #animation {
        background: #080a3c;
        height: auto;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        border-radius: 75px 75px 0px 0px;
      }
      #animation::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(img/tt.png);
        animation: imgChange 1s linear 1s infinite;
      }
      #animation::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(img/tt.2.png);
        animation: imgChangeTwo 1s linear 1s infinite;
      }
      @keyframes imgChange {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes imgChangeTwo {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      /* The footer is fixed to the bottom of the page */
      
      footer {
        position: fixed;
        bottom: 0;
      }
      
      @media (max-height:800px) {
        footer {
            position: static;
        }
        header {
            padding-top: 40px;
        }
      }
      
      .footer-distributed {
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        margin-top: 80px;
        padding: 20px;
        position: relative;
        z-index: 2;
      }
      
      .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
      }
      
      /* Footer left */
      .footer-distributed .footer-left {
      width: 35%;
      padding: 10px;
      }
      
      .footer-distributed .footer-left i {
      background-color: #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
      }
      
      .footer-distributed .footer-left i.fa-envelope {
      font-size: 17px;
      line-height: 38px;
      }
      
      .footer-distributed .footer-left p {
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
      margin: 0;
      }
      
      .footer-distributed .footer-left p span {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
      }
      
      .footer-distributed .footer-left p a {
      color: #e0ac1c;
      text-decoration: none;
      ;
      }
      
      
      /* Footer links */
      
      .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
      }
      
      .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
      }
      
      .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
      }
      
      /* Footer Center */
      
      
      .footer-distributed .footer-center {
      width: 30%;
      }
      
      .footer-distributed h3 {
      color: #ffffff;
      font: normal 36px 'Cookie', cursive;
      margin: 0;
      }
      
      
      .footer-distributed h3 span {
      color: #e0ac1c;
      }
      
      
      /* Footer Right */
      
      .footer-distributed .footer-right {
        width: 30%;
      }
      
      .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
      }
      
      .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      
      .footer-distributed .footer-icons {
        margin-top: 25px;
      }
      
      .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
      }
      
      .footer-distributed .footer-icons a:hover {
        background-color: #3F71EA;
        transition: .5s;
        transform: scale(1.2);
      }
      
      .footer-links a:hover {
        color: #3F71EA;
        transition: .5s;
      }
      
      @media (max-width: 880px) {
        .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
      }       
      /*logo*/
      .mr{
      border: 2px solid #fafafa;
      border-radius:50% ;
      width: 5.5em;
      height: 5.5em;
      margin-left: 20px;
      }        
      .mr img{
      width: 5em;
      height: 5em;
      padding: 7px;
      }
      .tainor{
        display: flex;
        align-items: center;
        justify-content: center;
      }
 
      

.video-grid {
width: 90%; /* Adjust the width as necessary */
margin-bottom: 20px; /* Space between rows */
background-color: #333; /* Dark background for each video */
color: #fff; /* Light text color */
margin: 25px; /* Padding inside each video */
border-radius: 5px; /* Rounded corners for each video */
}

/* Add responsive behavior */

@media (max-width: 480px) {
.video-grid {
  width: 90%; /* Adjust the width for very small screens */
}
}


/* Add some padding to the bottom of the body to make room for the footer */
body {
  padding-bottom: 60px; /* Height of the footer */
}
.d{
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  bottom: 0;
}
footer p a{
  text-decoration: none;

  font-size: 20px;
  color:firebrick;
}
footer p a:hover{
  color: #fff;
}





/*pop up*/
button#openPopup {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	float: right;
	margin: 1.4em;
	border-radius: 10px;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	text-align: center;
	animation: reportback 3s infinite alternate ;
  transition: .3s;
	width: 20em;
}
@keyframes reportback {
  0% {
    background: linear-gradient(45deg, #00FFFF, #1B1464);
  }
  50% {
    background: linear-gradient(45deg, #974caa, #2f0f79);
  }
  100% {
    background: linear-gradient(45deg, #2f0f79, #00FFFF);
  }
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.5em;
}

input, textarea {
	width: 95%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
	color: black;
	background-color: azure;
	font-size: 1em;
}

#closePopup {
  color: white;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  float: right;
  font-size: 25px;
}
#send {
	background-color: blueviolet;
	color: white;
	border: none;
	padding: 8px 16px;
	margin-top: 10px;
	cursor: pointer;
	width: 18em;
	height: 3.5em;
	border-radius: 2em;
	font-weight: bolder;
}
#send:hover{
  background-color: white;
  color: #030303;
  border: 4px solid blue;
  transition: .3s;
}
.popuptext{
  color: #fff;
}

/*comment*/
.fb-comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  color: #fff; /* Text color */
  width: 100%;
  text-align: center;
  animation: comment 3s infinite alternate ;
}
@keyframes comment {
  0% {
    background: linear-gradient(45deg, #48dbfb, #10ac84);
  }
  50% {
    background: linear-gradient(45deg, #9980FA, #5758BB);
  }
  100% {
    background: linear-gradient(45deg,  #1dd1a1, #0abde3);
  }
}
.fb-comments {
  width: 100% !important;
}



/* Text flow  */
.news-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  z-index: 8;
}

.news-container .title {
  position: absolute;
  background: #df2020;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.news-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 70s infinite linear;
}

.news-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
  font-size: larger;
  font-weight: bolder;
}

.news-container ul li::after {
  content:"";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.news-container ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
      transform: translateX(100%);
  }

  to {
      transform: translateX(-350em);

  }
}
/* Text flow  */

